<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>http://www.online-shop.com </title>
</head>
<body>
<h1 align="center">Registration</h1>
<form action="/register" align="center" method="post">
    <table align="center">
        <tr>
            <td>Login</td>
            <td><input type="text" name="login" placeholder="Enter your name"/></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="password" placeholder="Enter your password"/></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="text" name="email" placeholder="Enter your email"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="Sign In"/></td>
        </tr>
    </table>
    <input type="checkbox" name="checkbox" checked>
    <label> I agree with the terms of service</label>
    <br/><br/>
</form>
</body>
</html>
